# Logs and temp files
*.bak
*.log
*.tmp
*.swp
*.bak
*.log
.DS_Store

# Ignore editor or IDE directories
.idea/
.vscode/
*.iml

# images not in img/
*.bmp
*.gif
*.jpeg
*.jpg
*.png
*.webp
!img/*

# Orbiton include.txt file
include.txt

# git diff leftovers
diff
